<div class="container">
  <h1 style="margin: '30px';">{{title}}</h1>
  <div class="row" style="margin-bottom: '20px'">
    <div class="col-6">
      <div class="file-upload">
        <button class="file-upload-btn" type="button" (click)="fileInput.click()">Upload Image</button>
        <div class="image-upload-wrap">
          <input type="file" style="margin-bottom: '20px'" class="file-upload-input" #fileInput
            (change)="onFileSelected($event)">

          <div class="drag-text">
            <h3 *ngIf="!currentImageSrc">Drag and drop a file or select Upload Image</h3>
            <img *ngIf="currentImageSrc" class="file-upload-image" src={{currentImageSrc}} alt="your image" />

          </div>
        </div>
        <div class="file-upload-content">

        </div>
      </div>


    </div>
    <div class="col-6">
      <div class="file-upload">
        <button style="width: '50%';" class="btn btn-danger" (click)="onDeleteAll()">Delete All</button>

      </div>

    </div>

  </div>

  <div *ngIf="isloading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Download</th>
        <th scope="col">Delete</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of images">
        <td> <img width="50px" height="50px" src={{image.uri}}>
        </td>
        <td>{{image.name}}</td>
        <td><button (click)="onDownload(image)" class="btn btn-success">Download</button></td>
        <td><button (click)="onDelete(image)" class="btn btn-danger">Delete</button></td>

      </tr>


    </tbody>
  </table>

</div>